html, body {
    font-family: 'Open Sans', sans-serif;
}

/**************************************
*
* NAVIGATION
*
***************************************/

.nav-container {
    background-color: rgba(243, 214, 51, 0);
    box-shadow: 0px .5px 10px black;
}

.nav-container.show {
    background-color: whitesmoke;
}

.transition {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.nav-button:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}



/**************************************
*
* JUMBOTRON
*
***************************************/

.jumbotron-header {
    background: linear-gradient(
        rgba(243, 214, 51, 0.219),
        rgba(243, 214, 51, 0.219)
      ),
      url('http://deskbg.com/i/c/1440x900/wpp/21/21651/goat-mountains-desktop-background.jpg');
      background-size: cover;
      height: 75vh;
      position: relative;
}

.header-container {
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.jumbotron-header h1, .jumbotron-header p {
    text-align: center;
    color: #fff;
}

.jumbotron-header h1 {
    font-weight: 700;
}
















